{% extends 'base.html' %}
{% block content %}

<div class='col-md-3'>
  <div class='well'>
    <h3>About</h3>
    <ol>
      <li><a href='#what-is-this'>What is this?</a></li>
      <li><a href='#limitations'>Limitations</a></li>
      <li><a href='#data-policy'>Data policy</a></li>
      <li><a href='#code'>Code</a></li>
      <li><a href='#team-and-credits'>Team and credits</a></li>
      <li><a href='#contact-us'>Contact us</a></li>
    </ol>
  </div>
</div>
<div class="col-md-9">
  <h3 id='what-is-this'>What is this?</h3>
  <p><strong>Spreadsheet Deduper</strong> is a tool for identifying or removing duplicates from a spreadsheet. It uses the <a href='https://github.com/datamade/dedupe'>dedupe library</a> to quickly and accurately identify duplicate rows based on training data that you give it.</p>

  <p><a href='http://datamade.us/blog/introducing-spreadsheet-deduper/'>Read more about how and why we built this</a> on the DataMade blog.</p>

  <h3 id='limitations'>Limitations</h3>
  <p>De-duplication takes a lot of computing power, which increases as your data gets bigger. To keep things manageable on the web, we limit the size of your file to <strong>5mb</strong>.</p>

  <p>If you have a large, complicated or sensitive dataset you need de-duplicated, you can:</p>

  <ul>
    <li>download and install the <a href='https://github.com/datamade/dedupe'>dedupe library</a></li>
    <li><a href='http://datamade.us/contact-us/'>contact DataMade</a> to set up and run a custom deployment of dedupe</li>
  </ul>
    </p>

  <h3 id='data-policy'>Data policy</h3>

  <p>Uploading your data to our server is necessary for <strong>Spreadsheet Deduper</strong> to work. We do not retain any of this data permanently, and destroy it automatically within 30 minutes of a completed or abandoned session.</p>

  <p><strong>NOTE:</strong> Do not upload any sensitive data to this site! If you have sensitive data that needs de-duplicating, <a href='http://datamade.us/contact-us/'>contact DataMade</a>.</p>

  <h3 id='code'>Code</h3>

  <p>All of the code for this project is open source. You can find, view and fork it <a href='https://github.com/datamade/dedupe-web/'>on github</a>.</p>

  <p>Technologies used:</p>

  <ul>
      <li><a href='https://github.com/datamade/dedupe'>Dedupe</a> - open source entity resolution library</li>
      <li><a href='http://flask.pocoo.org/'>Flask</a> - web framework</li>
      <li><a href='http://getbootstrap.com'>Bootstrap</a> - HTML/CSS layout</li>
  </ul>

  <h3 id='team-and-credits'>Team and credits</h3>

  <p>Spreadsheet Deduper was created and is maintained by <a href='http://datamade.us'>DataMade</a>, a civic technology company. We are: </p>
  <ul>
    <li>Forest Gregg</li>
    <li>Derek Eder</li>
    <li>Eric van Zanten</li>
  </ul>

  <p>This tool is an extension of <a href='https://github.com/datamade/csvdedupe'>csvdedupe</a>, a command line de-duplication tool we developed under an <a href='https://source.opennews.org/en-US/articles/introducing-cvsdedupe/'>OpenNews code sprint</a> run by the <a href='http://opennews.org/'>Knight-Mozilla OpenNews partnership</a>.</p>

  <h3 id='contact-us'>Contact us</h3>

  <p>
    Having trouble? Need to dedupe some bigger or more complicated data? <a href='http://datamade.us/contact-us/'>Contact us</a>.
  </p>

  <p>
    Notice a bug or want to contribute to this project? <a href='https://github.com/datamade/dedupe-web'>Get involved on Github</a> or join our <a href='https://groups.google.com/forum/?fromgroups=#!forum/open-source-deduplication'>Google group</a>.
  </p>
</div>


{% endblock %}
