{% extends 'base.html' %}
{% block content %}
    {% include "dedupe_steps.html" %}
    <h3>4. Deduping ...</h3>
    {% include "error.html" %}
    <div class="col-md-8">
        <div id='wait-info'>
            <div class='well'>
                <p>We are taking what we've learned from your training and applying it to the rest of your dataset. <strong>This may take a few minutes.</strong></p>

                <p>When finished, your deduplicated data will be available to download below.</p>
            </div>
        </div>

        <div id='spinner'><br /><br /></div>
        <div id='results'>
            <p>While you wait, how about a nice game of pong?</p>
            <embed src="http://www.classicgamesarcade.com/games/pong.swf" width="545px" height="395px" autostart="true" loop="false" controller="true"></embed><br /><a href="http://www.classicgamesarcade.com/game/21599/pong-arcade-game.html">Pong arcade game</a>
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">

    var recall_weight = "2";

    function display_links(data){
        $('#spinner').spin(false);
        $('#wait-info').slideUp();
        $('#results').html('');
        // original, training, settings, deduped
        var template = "\
            <h4>Finished!</h4>\
            <p>\
            Your spreadsheet has been de-duplicated. We used a recall weight of <strong>" + recall_weight + "</strong>.</p>\
            <p><i class='icon-download'></i> Download your spreadsheet with:</p>\
            <ul>\
                <li>\
                    <a id='deduped-results' href='/" + data.result.deduped + "'>\
                        <i class='icon-ok'></i>\
                        Duplicates identified\
                    </a>\
                     - your original data with a 'Group ID' new column indicating which rows are the same\
                </li>\
                <li>\
                    <a id='deduped-unique-results' href='/" + data.result.deduped_unique + "'>\
                        <i class='icon-minus'></i>\
                        Duplicates removed\
                    </a>\
                     - your original data with duplicate rows deleted\
                </li>\
            </ul>\
            <hr />\
            <h4>Refine your results</h4>\
            <p>Are your results not quite right? When de-duplicating a file, there is a tradeoff between <a href='http://en.wikipedia.org/wiki/Precision_and_recall' target='_blank'>precision and recall</a>.</p>\
            <ul>\
                <li>If we haven't identified enough duplicates, <strong>increase</strong> the recall weight.</li>\
                <li>If we've identified duplicates to liberally, <strong>decrease</strong> the recall weight.</li>\
            </ul>\
            <p>\
                <div class='well'>\
                <p>Run dedupe again (don't worry, we still have your training info).</p>\
                <form role='form'>\
                    <label for='recall_weight'>Recall weight:</label>\
                    <select id='recall_weight'>\
                        <option val='0'>0</option>\
                        <option val='0.25'>0.25</option>\
                        <option val='0.5'>0.5</option>\
                        <option val='0.75'>0.75</option>\
                        <option val='1'>1</option>\
                        <option val='1.5'>1.5</option>\
                        <option val='2'>2</option>\
                        <option val='4'>4</option>\
                        <option val='6'>6</option>\
                        <option val='8'>8</option>\
                    </select>\
                    <button class='btn btn-primary' id='adjust_threshold'>Dedupe it again! &raquo;</button>\
                </form>\
                </div>\
            </p>";
        $('#results').html(template);

        //set the saved recall weight
        $('#recall_weight').val(recall_weight);

        $('#adjust_threshold').on('click', function(e){
            e.preventDefault();
            recall_weight= $('#recall_weight').val();
            $('#results').empty();
            $('#spinner').spin({'left': 0});
            $('#wait-info').slideDown();
            $.getJSON('/adjust_threshold/', {recall_weight: recall_weight}, function(resp){
                poll_worker();
            });
        })
    }

    function poll_worker(){
        $.ajax({
            url: '/working/',
            success: function(data){
                if (data.ready){
                    display_links(data);
                } else {
                    setTimeout(poll_worker, 3000);
                }
            },
            dataType: 'json',
        })
    }

    $('#spinner').spin({'left': 0});
    poll_worker();

</script>
{% endblock %}
