{% extends 'base.html' %}
{% block content %}
    {% include "dedupe_steps.html" %}
    <h3>4. Deduping ...</h3>
    {% include "error.html" %}
    <div class="col-md-8">
        <div class='well'>
            <p>We are taking what we've learned from your training and applying it to the rest of your dataset. <strong>This may take a few minutes.</strong></p>

            <p>When finished, your deduplicated data will be available to download below.</p>
        </div>
        <div id='results'>
            <br />
            <br />
            <br />
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">

    function display_links(data){
        $('#results').spin(false);
        // original, training, settings, deduped
        var template = "\
            <h4>Finished!</h4>\
            <p>\
            <a id='deduped-results' class='btn btn-primary btn-lg' href='/" + data.result.deduped + "'>\
                <i class='icon-download'></i>\
                Download your file with duplicates identified\
            </a><br /><br />\
            <a id='deduped-unique-results' class='btn btn-primary' href='/" + data.result.deduped_unique + "'>\
                <i class='icon-download'></i>\
                Download your file with duplicates removed\
            </a><br /><br />\
            </p>\
            <p>\
                <form role='form'>\
                    <label for='recall_weight'>Adjust Recall Weight:</label>\
                    <select id='recall_weight'>\
                        <option val='0'>0</option>\
                        <option val='0.25'>0.25</option>\
                        <option val='0.5'>0.5</option>\
                        <option val='0.75'>0.75</option>\
                        <option val='1'>1</option>\
                        <option val='1.5'>1.5</option>\
                        <option val='2' selected=true>2</option>\
                        <option val='4'>4</option>\
                        <option val='6'>6</option>\
                        <option val='8'>8</option>\
                    </select>\
                    <button id='adjust_threshold'>Resubmit</button>\
                </form>\
            </p>";
        $('#results').html(template);
        $('#adjust_threshold').on('click', function(e){
            e.preventDefault();
            var weight = $('#recall_weight').val();
            $('#results').empty();
            $('#results').spin({'left': 0});
            $.getJSON('/adjust_threshold/', {recall_weight: weight}, function(resp){
                poll_worker();
            });
        })
    }

    function poll_worker(){
        $.ajax({
            url: '/working/',
            success: function(data){
                if (data.ready){
                    display_links(data);
                } else {
                    setTimeout(poll_worker, 3000);
                }
            },
            dataType: 'json',
        })
    }

    $('#results').spin({'left': 0});
    poll_worker();

</script>
{% endblock %}
