{% extends 'base.html' %}
{% block content %}

{% include "dedupe_steps.html" %}
<h3>1. Upload a spreadsheet</h3>
{% include "error.html" %}
<div class="col-md-8">
  <div class='well'>
    <form role="form" action="/" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="input_file">Upload a spreadsheet to get started ...</label>
            <input type="file" id="input_file" name="input_file">
            <p class="help-block">Only files that are <strong>smaller than 5mb</strong>, please.</p>
        </div>
        <hr />
        <button type="submit" id="submit-upload" class="btn btn-primary">Next &raquo;</button>
    </form>
  </div>
</div>
<div class="col-md-4">
    <div class='alert alert-info'>
        <i class='icon-info-sign'></i> Do you have a spreadsheet with duplicate rows? This is a tool that uses the <a href='https://github.com/datamade/dedupe'>dedupe library</a> to quickly de-duplicate your data. <a href='/about/'>Read more &raquo;</a>
    </div>

    <div class='alert alert-success'>
        <i class='icon-circle-arrow-up'></i> Want to dedupe some bigger or more complicated data? <a href='mailto:info@datamade.us'>Contact DataMade</a>.
    </div>
</div>
{% endblock %}
