{% extends 'base.html' %}
{% block content %}

{% include "dedupe_steps.html" %}
<h3>1. Upload a spreadsheet</h3>
{% include "error.html" %}
<div class="col-md-8">
  <div class='well'>
    <form role="form" action="/" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="input_file">Spreadsheet (CSV format)</label>
            <input type="file" id="input_file" name="input_file">
            <p class="help-block">Only files that are <strong>smaller than 5mb</strong>, please.</p>
        </div>
        <hr />
        <button type="submit" id="submit-upload" class="btn btn-primary">Next &raquo;</button>
    </form>
  </div>
</div>
{% endblock %}
