{% extends 'base.html' %}
{% block content %}
    {% include "dedupe_steps.html" %}
    <h3>2. Fields to compare</h3>
    {% include "error.html" %}
    <div class="row">
        <div class="col-md-8">
            <div class='well'>
                <form id="fields" role="form" action="{{ url_for('select_fields')}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <p class="help-block">Check the columns in your spreadsheet you want to use for comparing records. </p>
                        {% for field in fields %}
                            <label>
                                <input type="checkbox" name="{{field}}"> {{field}}
                            </label>
                            <br />
                        {% endfor %}
                    </div>

                    <hr />
                    <button type="submit" class="btn btn-primary" id="start-training">
                        Start training &raquo;
                    </button>
                </form>
            </div>
        </div>
        <div class='col-md-4'>
            <div class='alert alert-info'>
                <p><i class='icon-info-sign'></i> Select the column headers, or fields, that you think <a target='_blank' href='https://github.com/datamade/dedupe/wiki/Matching-records'>tell the most information</a> about each row in your spreadsheet.</p>

                <p>Useful fields include:</p>

                <ul>
                    <li>Name (organization or person)</li>
                    <li>Address</li>
                    <li>Phone number</li>
                    <li>Category</li>
                </ul>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class='well'>
                {#
                <form role="form" action="{{ url_for('dedupe_start')}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <p class="help-block">...or upload a predefined training file</p>
                        <label for="training_file">Training file</label>
                        <input type="file" id="training_file" name="training_file">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remove_duplicates"> Remove duplicates from output
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default" id="start-training">
                        Start Deduping &raquo;
                    </button>
                </form>
                #}
            </div>
        </div> -->
    </div>
{% endblock %}
