{% extends 'base.html' %}
{% block content %}
    {% include "dedupe_steps.html" %}
    <h2>2. Fields to compare</h2>

    {% if error %}
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error!</strong> {{error}}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8">
            <div class='well'>
                <form id="fields" role="form" action="{{ url_for('select_fields')}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <p class="help-block">Check the columns in your spreadsheet you want us to pay attention to. </p>
                        {% for field in fields %}
                            <label>
                                <input type="checkbox" name="{{field}}"> {{field}}
                            </label>
                            <br />
                        {% endfor %}
                    </div>

                    <hr />
                    <h4>Additional settings</h4>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remove_duplicates"> Keep duplicates in output (we'll mark them)
                        </label>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-default" id="start-training">
                        Start Training &raquo;
                    </button>
                </form>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class='well'>
                {#
                <form role="form" action="{{ url_for('dedupe_start')}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <p class="help-block">...or upload a predefined training file</p>
                        <label for="training_file">Training file</label>
                        <input type="file" id="training_file" name="training_file">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remove_duplicates"> Remove duplicates from output
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default" id="start-training">
                        Start Deduping &raquo;
                    </button>
                </form>
                #}
            </div>
        </div> -->
    </div>
{% endblock %}
