{% extends 'base.html' %}
{% block content %}
    <h2>Training</h2>
    <h4>File saved: {{ filename }}</h4>
    {% if error %}
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error!</strong> {{error}}
        </div>
    {% endif %}
    <div id="labeler" class="row">
        <div class="col-md-6">
            <p>
            {% for k,v in data.left.items() %}
                <strong>{{k}}</strong> {{v}}<br />
            {% endfor%}
            </p>
        </div>
        <div class="col-md-6">
            <p>
            {% for k,v in data.right.items() %}
                <strong>{{k}}</strong> {{v}}<br />
            {% endfor%}
            </p>
        </div>
    </div>
    <div class="row">
        <h4>Are these the same?</h4>
        <button class="btn btn-default" id="yes">
            Yes
        </button>
        <button class="btn btn-default" id="no">
            No
        </button>
        <button class="btn btn-default" id="unsure">
            Unsure
        </button>
        <button class="btn btn-default" id="finish">
            Finish Training &raquo;
        </button>
    </div>
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.btn').on('click', function(e){
            e.preventDefault();
            $('#labeler').spin('large');
            var action = $(this).attr('id');
            $.when(mark_training_pair(action)).then(
                function(data){
                    $.when(get_training_pair()).then(
                        function(data){
                            $('#labeler').spin(false);
                            var items = '<div class="col-md-6"><p>';
                            $.each(data.left, function(key, value){
                                items += '<strong>' + key + '</strong> ' + value + '<br />';
                            })
                            items += '</p></div><div class="col-md-6"><p>';
                            $.each(data.right, function(key, value){
                                items += '<strong>' + key + '</strong> ' + value + '<br />';
                            });
                            items += '</p></div>';
                            $('#labeler').html(items);
                        }
                    )
                }
            )
        })
    });
    function make_comparator(fields, comp){
        console.log(comp);
    }
    function mark_training_pair(action){
        return $.ajax({
            url: '/mark-pair/',
            dataType: 'json',
            data: {'action': action}
        })
    }
    function get_training_pair(){
        return $.ajax({
            url: '/get-pair/',
            dataType: 'json'
        })
    }
</script>
{% endblock %}
