{% extends 'base.html' %}
{% block content %}
    <h2>3. Training</h2>
    {% if error %}
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error!</strong> {{error}}
        </div>
    {% endif %}

    <table id='labeler' class='table table-bordered'></table>

    <div class='clearfix'></div>
    <h4>Are these the same?</h4>
    <p class='pull-left'>
        <button class="btn btn-success" id="yes">
            Yes
        </button>
        <button class="btn btn-danger" id="no">
            No
        </button>
        <button class="btn btn-warning" id="unsure">
            Unsure
        </button>
    </p>
    <p class='pull-right'>
        <button class="btn btn-default" id="finish">
            Finish Training &raquo;
        </button>
    </p>

{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
    $(document).ready(function(){

        var template = "\
          <tr>\
            <td><strong>{{field}}</strong></td>\
            <td>{{left}}</td>\
            <td>{{right}}</td>\
          </tr>\
        ";
        $('.btn').on('click', function(e){
            e.preventDefault();
            $('#labeler').spin('large');
            var action = $(this).attr('id');
            $.when(mark_training_pair(action)).then(
                function(data){
                    if (action !== 'finished'){
                        render_training_pair();
                    } else {
                        poll_worker();
                    }
                }
            )
        });

        render_training_pair();
    });

    function render_training_pair(){
        console.log('rendering training pair');
        $.when(get_training_pair()).then(
            function(data){
                $('#labeler').spin(false);

                var label_data = [];
                $.each(data, function(i, json){

                    // [
                    //     {"field": "city", "left": "new york", "right": "chicago"}
                    // ]

                    // var label_row
                    // $.each(json['fields'], function(i, f){

                    // })

                    $("#labeler").append(Mustache.render(template, json));
                })


                // var items = '<div class="col-md-6"><p>';
                // $.each(data.left, function(key, value){
                //     items += '<strong>' + key + '</strong> ' + value + '<br />';
                // })
                // items += '</p></div><div class="col-md-6"><p>';
                // $.each(data.right, function(key, value){
                //     items += '<strong>' + key + '</strong> ' + value + '<br />';
                // });
                // items += '</p></div>';
                // $('#labeler').html(items);
            }
        )
    }

    function mark_training_pair(action){
        return $.ajax({
            url: '/mark-pair/',
            dataType: 'json',
            data: {'action': action}
        })
    }
    function get_training_pair(){
        return $.ajax({
            url: '/get-pair/',
            dataType: 'json'
        })
    }
    function poll_worker(){
        $.ajax({
            url: '/working/',
            success: function(data){
                if (data.ready){
                    display_links(data);
                } else {
                    setTimeout(poll_worker, 3000);
                }
            },
            dataType: 'json',
        })
    }
    function display_links(data){
        console.log(data);
    }
</script>
{% endblock %}
