{% extends 'base.html' %}
{% block content %}
    {% include "dedupe_steps.html" %}
    <h2>3. Training</h2>
    {% if error %}
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error!</strong> {{error}}
        </div>
    {% endif %}

    <div class='col-md-8'>
        <table id='labeler' class='table table-bordered'>
            <thead>
                <tr>
                    <th class='field-name'></th>
                    <th>Record A</th>
                    <th>Record B</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class='col-md-4'>
        <table id='your-training' class='table table-bordered'>
            <tbody>
                <tr>
                    <td>Yes</td>
                    <td class='warning' id='num-yes'><span>0</span> / 10 </td>
                </tr>
                <tr>
                    <td>No</td>
                    <td class='warning' id='num-no'><span>0</span> / 10 </td>
                </tr>
                <tr>
                    <td>Unsure</td>
                    <td id='num-unsure'><span>0</span></td>
                </tr>
            </tbody>
        </table>
        <div class='alert alert-info'>
            <p>The more labeled examples you give us, the better the deduplication results will be. Try to provide at least 10 <strong>yes</strong> and 10 <strong>no</strong> responses.</p>
        </div>
    </div>

    <div class='clearfix'></div>
    <h4>Do these two records refer to the same thing?</h4>
    <p class='pull-left'>
        <button class="btn btn-success" id="yes">
            Yes
        </button>
        <button class="btn btn-danger" id="no">
            No
        </button>
        <button class="btn btn-default" id="unsure">
            Unsure
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-default" id="finish">
            Finish training &raquo;
        </button>
    </p>

    <div class="modal fade" id='finished-modal'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">That's enough training!</h4>
          </div>
          <div class="modal-body">
            <p>More training will continue to improve the results, but you can stop now.</p>
          </div>
          <div class="modal-footer">
            <a href='#' data-dismiss="modal">Continue training</a>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" id='finished-modal-btn'>Finish &raquo;</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">

    var training_threshold = 20;
    var modal_shown = false;

    function render_training_pair(){
        $.when( $.getJSON('/get-pair/') ).then(
            function(data, textStatus, jqXHR ){

                $('#labeler').spin(false);
                $.each(data, function(i, json){

                    var diff_class = 'danger';
                    if (json.left == json.right)
                        diff_class = 'success';
                    var template = "\
                    <tr>\
                        <td class='field-name'>" + json.field + "</td>\
                        <td class='" + diff_class + "'>" + json.left + "</td>\
                        <td class='" + diff_class + "'>" + json.right + "</td>\
                    </tr>"
                    $("#labeler tbody").append(template);
                })
            }
        )
    }

    function mark_training_pair(action){
        return $.ajax({
            url: '/mark-pair/',
            dataType: 'json',
            data: {'action': action}
        })
    }

    function update_your_training(counter){

        var yes_class = 'warning';
        if (counter.yes >= training_threshold) yes_class = 'success';

        var no_class = 'warning';
        if (counter.no >= training_threshold) no_class = 'success';

        if (counter.no >= training_threshold && counter.yes >= training_threshold) {
            if (!modal_shown) {
                $('#finished-modal').modal();
                modal_shown = true;
            }
            $("#finish").attr("class", "btn btn-primary");
        }
            
        $("#num-yes span").html(counter.yes);
        $("#num-yes").attr('class', yes_class);
        $("#num-no span").html(counter.no);
        $("#num-no").attr('class', no_class);
        $("#num-unsure span").html(counter.unsure);
    }

    $('.btn').on('click', function(e){
        e.preventDefault();
        $('#labeler').spin('large');
        var action = $(this).attr('id');
        $.when(mark_training_pair(action)).then(
            function(data){
                $("#labeler tbody").html('');
                if (action !== 'finish' && action !== 'finished-modal-btn'){
                    update_your_training(data.counter);
                    render_training_pair();
                } else {
                    window.location = "/dedupe_finished/";
                }
            }
        )
    });

    render_training_pair();
</script>
{% endblock %}
